<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">

    <php>
        <env name="APP_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./test/Unit</directory>
        </testsuite>
    </testsuites>

</phpunit>
